<!-- 
  Здесь мы подключаем к форме созданный в классе объект.

  Также необходимо связать поля с этим классом

  Для того чтобы это все заработало необходимо заимпортировать ReactiveFormsModule в модуль
-->
<form (submit)="onSubmit()" [formGroup]="userForm">
  <div class="controller">
    <label>
      {{ formLabels.name }}:
      <br />
      <input type="text" formControlName="name" />
      <div *ngIf="formErrors.name" class="alert">{{ formErrors.name }}</div>
    </label>
  </div>

  <div class="controller">
    <label>
      {{ formLabels.email }}:
      <br />
      <input type="email" formControlName="email" />
      <div *ngIf="formErrors.email" class="alert">
        {{ formErrors.email }}
      </div>
    </label>
  </div>

  <div class="controller">
    <label>
      {{ formLabels.age }}:
      <br />
      <input type="text" formControlName="age" />
      <div *ngIf="formErrors.age" class="alert">
        {{ formErrors.age }}
      </div>
    </label>
  </div>

  <div class="controller">
    <label>
      {{ formLabels.role }}:
      <br />
      <select formControlName="role">
        <option value="null" selected disabled>Choose the role</option>
        <option *ngFor="let role of roles">{{ role }}</option>
      </select>
      <div *ngIf="formErrors.role" class="alert">
        {{ formErrors.role }}
      </div>
    </label>
  </div>

  <div class="controller">
    <label>
      {{ formLabels.password }}:
      <br />
      <input type="text" formControlName="password" />
      <div *ngIf="formErrors.password" class="alert">
        {{ formErrors.password }}
      </div>
    </label>
  </div>

  <div class="controller">
    <label>
      {{ formLabels.matchPassword }}:
      <br />
      <input type="text" formControlName="matchPassword" />
      <div *ngIf="formErrors.matchPassword" class="alert">
        {{ formErrors.matchPassword }}
      </div>
    </label>
  </div>

  <button type="submit" class="controller">Сохранить</button>
</form>

<!-- <p class="diagnostic">{{ this.model | json }}</p> -->
