<!-- 
  Здесь мы подключаем к форме созданный в классе объект.

  Также необходимо связать поля с этим классом

  Для того чтобы это все заработало необходимо заимпортировать ReactiveFormsModule в модуль
-->
<form (submit)="onSubmit()" [formGroup]="userForm">
  <div class="controller">
    <label>
      Имя:
      <br />
      <input type="text" formControlName="name" />
      <div
        *ngIf="
          (userForm.get('name')?.hasError('required') &&
            userForm.get('name')?.touched) ||
          userForm.get('name')?.dirty
        "
        class="alert"
      >
        Обязательное поле
      </div>
    </label>
  </div>

  <div class="controller">
    <label>
      Пароль:
      <br />
      <input type="password" formControlName="password" />

      <div
        *ngIf="
          userForm.get('password')?.hasError('required') &&
          (userForm.get('password')?.touched || userForm.get('password')?.dirty)
        "
        class="alert"
      >
        Обязательное поле
      </div>
      <div
        *ngIf="
          userForm.get('password')?.hasError('minlength') &&
          (userForm.get('password')?.touched || userForm.get('password')?.dirty)
        "
        class="alert"
      >
        Минимум 7 символов
      </div>
    </label>
  </div>

  <button type="submit" class="controller">Сохранить</button>
</form>

<!-- <p class="diagnostic">{{ this.model | json }}</p> -->
